<table id = "lable-table">
  <tr>
    <th>Label</th>
  </tr>
  <tr>
    <td>Sale_Type</td>
  </tr>
  <tr>
    <td>Product_Category</td>
   </tr>
   <tr>	
    <td>Product_Type</td>
   </tr>
</table>
<table id = "number-table">
  <tr>
    <th>Number</th>
  </tr>
  <tr>
    <td>Sale_Amount</td>
  </tr>
  <tr>
    <td>Discount_Value</td>		
  </tr>
</table>
<table id = "flex-table">
  <tr>
    <th>Flex Data</th>
  </tr>
  <tr>
    <td>Bidder_Name</td>
  </tr>
  <tr>
    <td>Zipcode</td>		
  </tr>
</table>

<button id = "map-attr-btn" type="button" class="btn btn-primary pull-bottom" ng-click = "gotoActorEq()">Next</button>